.card-header{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    background: rgb(35, 22, 112);
    color: white;
}
